<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChesStats</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
</head>
<body>
    <p>Put your username below</p>
    <div>
        <form action="/" method="POST">
            <input required type="text" name="fname" id="user" placeholder="Your username">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
